* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ffcbdb;
    color: #1d0a0f;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {

    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #ebafc1;
    align-items: center;
    font-size: 20px;
}
.nav {
    display: flex;
    gap: 20px;
}
.header a { 
    color: #ffffff;
    margin-left: 20px; 
    text-decoration: none; 
}
.logo { 
    color: #bd4367; 
    font-weight: bold; 
    font-size: 30px;
}
.hero {
    padding: 60px;
    text-align: center;
    background: #ffd6e2;
    color: #bd4367;
}
.hero p {
    padding: 6px;
    font-size: 20px;
    text-align: center;
    background: #ffd6e2;
    color: #bd4367;
    
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #bd4367;
    color: #fde1e9;
    text-decoration: none;
    border-radius: 18px;
}
.section { 
    padding: 6px;
    font-size: 20px;
    text-align: center;
    background: #ffe2eb;
    color: #bd4367;
    
}

.products {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.products2 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.grid {
    justify-content: space-between; 
}
.card {
    .card {
    border: 1px solid #fde1e9;
    padding: 15px;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;   
    background: #fff0f5;
}
}
.card img {
    width: 100%;
    height: 380px;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 20px;
}
.card:hover { 
    transform: scale(1.05);
    transition: 0.5s; 
}
.footer {
    background: #5c2032;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}
@media (max-width: 768px) {
    .card { width: 45%; }
}

@media (max-width: 576px) {
    .card { width: 100%; }
}